.save_btn {
  padding: 15px 25px;
  border: 1px solid black;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(110, 205, 51);

  &:hover {
    background-color: rgb(75, 184, 7);
  }
}

.start-date {
  padding: 0 5px;
}

.date-adjuster {
  padding: 0 8px;
  color: blue;
  font-weight: bold;
  cursor: pointer;
}
